@charset "UTF-8";

// 1. Abstracts
@use 'abstracts/variables';
@use 'abstracts/media-query';
@use 'abstracts/colors';
@use 'abstracts/functions';
@use 'abstracts/mixins';
@use 'abstracts/placeholders';

// 2. Vendors
// @use 'vendors/simple';
// @use 'vendors/normalize';

// 3. Base
@use 'base/base';
@use 'base/reset';
@use 'base/typography';
@use 'base/animation';

// 4. Layout or utilities
@use 'layout/header';
@use 'layout/sidebar';
@use 'layout/footer';

// 5. Components
@use 'components/button';
@use 'components/card';
@use 'components/carousel';
@use 'components/dropdown';

// 6. Pages
@use 'pages/home';
@use 'pages/about';

// 7. Themes
@use 'themes/theme';
@use 'themes/admin';
