<header style="background-image: url({{ site.backgroundImage }}); background-size: cover">
  <nav class="container">
    <ul>
      {% for nav in collections.primary reversed %}
        <li {% if page.url == nav.url %}aria-current="page"{% endif %}>
          <a href="{{ nav.url }}">{{ nav.data.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>